:root {
  // brand colors
  --bg-color: #f3f4f6;
  --white: #ffffff;
  --blue-color: #116acc;
  --dark-color: #182233;
  --light-blue-color: #b3cee2;
  --gray-color: #d9dde7;
  --red-color: #fd4e5d;
  // state colors
  --info-color: #2f80ed;
  --success-color: #27ae60;
  --warning-color: #e2b93b;
  --error-color: #eb5757;
  // fonts
  --ubuntu-bold: "Ubuntu-Bold";
  --ubuntu-light: "Ubuntu-Light";
  --ubuntu-medium: "Ubuntu-Medium";
  --ubuntu-regular: "Ubuntu-Regular";
}
