.App {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 2rem;
    font-family: var(--ubuntu-regular);
    color: var(--blue-color);
  }
}
